body {
  background-color: $color_beige;
  height: 100vh;
}

#__next {
  box-sizing: border-box;
  border: 3px solid $color_blue;
  height: 100vh;
  padding: 30px;
  position: relative;
  width: 100vw;
}