.content {
  color: $blue;
  left: 50%;
  position: absolute;
  top: 50%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);

  h1 {
    @include fontMedium;
    font-size: 42px;
    margin-bottom: 10px;
  }

  h2 {
    @include fontThin;
    font-size: 24px;
  }

  .button {
    margin-top: 10px;
    @include button;
  }
}